/* Regular Rock Salt Font */
@font-face {
    font-family: "Cakecafe";
    src:
        local("Cakecafe"),
        url("../fonts/Cakecafe.woff2") format("woff2");
}

@font-face {
    font-family: "Acme";
    src:
        local("Acme"),
        url("../fonts/Acme.woff2") format("woff2"),
        url("../fonts/Acme.woff") format("woff"),
        url("../fonts/Acme.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    /* font-display: swap; */
    font-family: "Source Code Pro";
    src: url("/fonts/sourcecodepro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Consolas Font */
@font-face {
    font-family: "Consolas";
    src: url("/fonts/consolas_regular.TTF") format("truetype");
}
